<!-- One -->
<section id="one" class="wrapper style1">
	<div class="inner">
		{% for post in site.posts %}
			{% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}	
			<article class="feature {% if modulo == '0' %}
				left"
			{% else %}
				right" 
			{% endif %}
			>
			<span class="image"><img src="{{ site.baseurl }}/{{ post.image_path }}" alt="" /></span>
			<div class="content">
				<h2>{{ post.title }}</h2>
				<p>{{ post.short_description }}</p>
				<ul class="actions">
					<li>
						<a href="{{ site.baseurl }}{{ post.url }}" class="button alt">More</a>
					</li>
				</ul>
			</div>
			</article>
		{% endfor %}
	</div>
</section>
