<!-- Four -->
<section id="four" class="wrapper style2 special">
	<div class="inner">
		<header class="major narrow">
			<h2>Get in touch</h2>
			<p>Ipsum dolor tempus commodo adipiscing</p>
		</header>
		<form action="#" method="POST">
			<div class="container 75%">
				<div class="row uniform 50%">
					<div class="6u 12u$(xsmall)">
						<input name="name" placeholder="Name" type="text" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input name="email" placeholder="Email" type="email" />
					</div>
					<div class="12u$">
						<textarea name="message" placeholder="Message" rows="4"></textarea>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" class="special" value="Submit" /></li>
				<li><input type="reset" class="alt" value="Reset" /></li>
			</ul>
		</form>
	</div>
</section>
