{% include contact.html %}

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			{% if site.social_links.facebook_url and site.social_links.facebook_url != "FACEBOOK_URL" %}
			<li><a href="{{ site.social_links.facebook_url }}" class="icon fa-facebook">
				<span class="label">Facebook</span>
			</a></li>
			{% endif %}
			{% if site.social_links.twitter_url and site.social_links.twitter_url != "TWITTER_URL" %}
			<li><a href="{{ site.social_links.twitter_url }}" class="icon fa-twitter">
				<span class="label">Twitter</span>
			</a></li>
			{% endif %}
			{% if site.social_links.instagram_url and site.social_links.instagram_url != "INSTAGRAM_URL" %}
			<li><a href="{{ site.social_links.instagram_url }}" class="icon fa-instagram">
				<span class="label">Instagram</span>
			</a></li>
			{% endif %}
			{% if site.social_links.linkedin_url and site.social_links.linkedin_url != "LINKEDIN_URL" %}
			<li><a href="{{ site.social_links.linkedin_url }}" class="icon fa-linkedin">
				<span class="label">LinkedIn</span>
			</a></li>
			{% endif %}
		</ul>
		<ul class="copyright">
			<li>&copy; Untitled.</li>
			<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
			<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
			<li>Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Informatia</a>.</li>
		</ul>
	</div>
</footer>