<title>{{ page.title }} - {{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/bower_components/retrospect/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/retrospect/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/bower_components/retrospect/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/bower_components/retrospect/assets/css/ie9.css" /><![endif]-->