{% include banner.html %}
{% include blog.html %}
{% include gallery.html %}

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major narrow	">
			<h2>Magna sed consequat tempus</h2>
			<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
		</header>
		<ul class="actions">
			<li><a href="#" class="button big alt">Magna feugiat</a></li>
		</ul>
	</div>
</section>