<!-- Nav -->
<nav id="nav">
	<ul class="links">
		<li><a href="{{ site.baseurl }}">Home</a></li>
		<li><a href="{{ site.baseurl }}/generic/">Generic</a></li>
		<li><a href="{{ site.baseurl }}/elements/">Elements</a></li>
	</ul>
</nav>