<!-- Scripts -->
<script src="{{ site.baseurl }}/bower_components/retrospect/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/retrospect/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/retrospect/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.baseurl }}/bower_components/retrospect/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/bower_components/retrospect/assets/js/main.js"></script>
